$breakpoint-mobile: 800px
$breakpoint-laptop: 1440px

// LAYOUT
$width-sidebar: 420px

// TYPE
$color: black
$lineheight: 1.5rem
$type-size-p: 1rem
$type-size-h1: 2rem
$type-size-h2: 3rem
$type-size-h3: 4rem
$type-size-h4: 5rem
$type-size-h5: 6rem
$type-size-blockquote: 6rem

// TYPE
$morion: 'Morion Bold', serif

// COLORS
$color-support: black
$border: 1px solid currentColor
$white: #ffffff
$black: #000000

// TRANSITIONS
$trans-hover: .33s ease
$trans-img: .33s ease-in

// ZINDEX
$zindex-header: 800
$zindex-footer: 800

// SPACING
body
  --spacing-side-one: 1rem
  --spacing-side-two: 2rem
  --spacing-one: 1rem
  --spacing-two: 2rem
  --spacing-three: 3rem
  --spacing-four: 4rem
  --width-leftside: 28vw
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1em
    --spacing-two: 1em
    --spacing-three: 2em
